@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magno Valdetaro de Oliveira</h1>
    <p class="lead">magno.valdetaro@al.infnet.edu.br</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Software como serviço (SaaS)</h2>
        <p>
            Fornecimento de aplicativos de software pela internet, sob demanda, normalmente com base em assinaturas.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Plataforma como Serviço (PaaS)</h2>
        <p>Ambiente para desenvolvimento, testes, fornecimento e gerenciamento de aplicativos de software sob demanda.</p>
    </div>
    <div class="col-md-4">
        <h2>Infraestrutura como serviço (IaaS)</h2>
        <p>Aluguel de infraestrutura de TI, como servidores, VMs, armazenamento, redes e SOs, de um provedor de nuvem em uma base pré-paga com provisionamento e o gerenciamento todo realizado pela internet.</p>
    </div>
</div>